<?xml version="1.0"?>
<launch>
  <arg name="sensor_ip" default="192.168.1.3"/>
  <arg name="host_ip" default="192.168.1.5"/>
  <arg name="frame_id" default="base_laser"/>
  <arg name="angle_start" default="0"/>    <!-- Start angle of scan in radians, if both start and end angle are equal, all angels are regarded  -->
  <arg name="angle_end" default="0"/>      <!-- End angle of scan in radians, if both start and end angle are equal, all angels are regarded -->

<!--   <include file="$(find kit_agv_bringup)/launch/kit_agv_core.launch">
    <arg name="multi_robot_name" value="$(arg multi_robot_name)"/>
  </include> -->
  
<!--   <include file="$(find turtlebot3_bringup)/launch/turtlebot3_lidar.launch">
    <arg name="set_frame_id" value="$(arg set_lidar_frame_id)"/>
  </include> -->

  <include file="$(find sick_safetyscanners)/launch/sick_safetyscanners.launch">
  	<arg name="sensor_ip" value="$(arg sensor_ip)"/>
  	<arg name="host_ip" value="$(arg host_ip)"/>
  	<arg name="frame_id" value="$(arg frame_id)"/>
    <arg name="angle_start" value="$(arg angle_start)"/>
    <arg name="angle_end" value="$(arg angle_end)"/>
  </include>

  <!-- <node pkg="turtlebot3_bringup" type="turtlebot3_diagnostics" name="turtlebot3_diagnostics" output="screen"/> -->
</launch>